#pane_toggle.collapse
{
	background-image:url("../images/pane-collapse.gif");
}

#pane_toggle.expand
{
	background-image:url("../images/pane-expand.gif");
}

#sharpdoc-search
{
	margin-bottom:1em;
	margin-right:1em;
	overflow:hidden;
    display: none;
}

#sharpdoc-search .sharpdoc-search-wrapper
{
	width:100%;
}

#sharpdoc-search-opt
{
	opacity:.5;
}

#sharpdoc-search-opt:hover
{
	opacity:1px;
}

#sharpdoc-search-str
{
	background:transparent url(../images/search-icon.png) 99% 4px no-repeat !important;
	border:1px solid #E0E0E0;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	color:#8A8A8A;
	font-size:1em;
	font-style:italic;
	outline:none;
	padding:4px;
	width:95%;
}

#sharpdoc-search-str:focus
{
	border:1px solid #303030;
	color:#303030;
	font-style:normal;
}

#sharpdoc-search-str:hover
{
	border:1px solid #8A8A8A;
	color:#8A8A8A;
	font-style:normal;
}

.sdoc-parameter
{
	font-style:italic;
}

.sdoc-subheading
{
	color:#AB2727;
	font-size:1em;
	font-weight:bold;
}

.sharpdoc
{
	height:100%;
	min-height:100%;
}

.sharpdoc #pane_toc
{
	overflow:hidden;
	padding-bottom:1em;
	padding-top:1em;
	vertical-align:top;
	white-space:nowrap;
}

.sharpdoc #pane_toggle
{
	background-repeat:no-repeat;
	cursor:pointer;
	float:left;
	height:23px;
	position:relative;
	right:1px;
	top:16px;
	width:7px;
	z-index:300;
}

.sharpdoc #toc_content
{
	padding-left:1em;
	width:200px;
}

.sharpdoc .content .section .members
{
	margin:0;
	padding:0;
	width:auto;
}

.sharpdoc div.icon
{
	background-repeat:no-repeat;
	float:left;
	height:16px;
	margin:0;
	padding-left:2px;
	padding-right:2px;
	width:16px;
}

.sharpdoc .grouptab {
    margin-bottom: 13px;
}

.sharpdoc div.icon.privclass
{
	background-image:url("../images/privclass.gif");
}

.sharpdoc div.icon.privdelegate
{
	background-image:url("../images/privdelegate.gif");
}

.sharpdoc div.icon.privenum
{
	background-image:url("../images/privenum.gif");
}

.sharpdoc div.icon.privevent
{
	background-image:url("../images/privevent.gif");
}

.sharpdoc div.icon.privfield
{
	background-image:url("../images/privfield.gif");
}

.sharpdoc div.icon.privinterface
{
	background-image:url("../images/privinterface.gif");
}

.sharpdoc div.icon.privmethod
{
	background-image:url("../images/privmethod.gif");
}

.sharpdoc div.icon.privoperator
{
	background-image:url("../images/privoperator.gif");
}

.sharpdoc div.icon.privproperty
{
	background-image:url("../images/privproperty.gif");
}

.sharpdoc div.icon.privstructure
{
	background-image:url("../images/privstructure.gif");
}

.sharpdoc div.icon.protclass
{
	background-image:url("../images/protclass.gif");
}

.sharpdoc div.icon.protdelegate
{
	background-image:url("../images/protdelegate.gif");
}

.sharpdoc div.icon.protenum
{
	background-image:url("../images/protenum.gif");
}

.sharpdoc div.icon.protevent
{
	background-image:url("../images/protevent.gif");
}

.sharpdoc div.icon.protfield
{
	background-image:url("../images/protfield.gif");
}

.sharpdoc div.icon.protinterface
{
	background-image:url("../images/protinterface.gif");
}

.sharpdoc div.icon.protmethod
{
	background-image:url("../images/protmethod.gif");
}

.sharpdoc div.icon.protoperator
{
	background-image:url("../images/protoperator.gif");
}

.sharpdoc div.icon.protproperty
{
	background-image:url("../images/protproperty.gif");
}

.sharpdoc div.icon.protstructure
{
	background-image:url("../images/protstructure.gif");
}

.sharpdoc div.icon.pubclass
{
	background-image:url("../images/pubclass.gif");
}

.sharpdoc div.icon.pubdelegate
{
	background-image:url("../images/pubdelegate.gif");
}

.sharpdoc div.icon.pubenum
{
	background-image:url("../images/pubenum.gif");
}

.sharpdoc div.icon.pubevent
{
	background-image:url("../images/pubevent.gif");
}

.sharpdoc div.icon.pubfield
{
	background-image:url("../images/pubfield.gif");
}

.sharpdoc div.icon.pubinterface
{
	background-image:url("../images/pubinterface.gif");
}

.sharpdoc div.icon.pubmethod
{
	background-image:url("../images/pubmethod.gif");
}

.sharpdoc div.icon.puboperator
{
	background-image:url("../images/puboperator.gif");
}

.sharpdoc div.icon.pubproperty
{
	background-image:url("../images/pubproperty.gif");
}

.sharpdoc div.icon.pubstructure
{
	background-image:url("../images/pubstructure.gif");
}

.sharpdoc div.icon.static
{
	background-image:url("../images/static.gif");
}

.sharpdoc div.icon.default
{
	background-image:url("../images/default.png");
}

.sharpdoc div.icon.win8metro
{
	background-image:url("../images/win8metro.png");
}

.sharpdoc div.icon.wp8
{
	background-image:url("../images/wp8.png");
}

.sharpdoc div.icon.win8desktop
{
	background-image:url("../images/win8desktop.png");
}


.sharpdoc .content {
  word-wrap: break-word; /* Internet Explorer 5.5+, 6, 7, 8 compability-mode */
  word-break: break-all; /* Internet Explorer 8 */
}

.sharpdoc .content .section .members table {
    table-layout:fixed;    
    width:100%;
}
.sharpdoc .content .section .members td
{
	border-color:#bbb;
	border-style:solid;
	border-width:1px;
	font-size:1.077em;
	font-style:normal;
	font-weight:normal;
	line-height:140%;
	margin:1px;
	padding:4px;
}

.sharpdoc .content .section .members td p
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.sharpdoc .content .section .members td dd
{
	margin-left: 0px;
}

.sharpdoc .content .section .members td.icon-col,td.name-col,td.desc-col
{
	border-bottom:1px solid #C1DAD7;
	border-right:1px solid #C1DAD7;
}

.sharpdoc .content .section .members th
{
    background: #4D88C2;
    color: white;
    text-shadow: 0px -1px 1px #444;

	/* background:url(../images/table-header-bg.png) repeat-x; */
	border-color:#bbb;
	border-style:solid;
	border-width:1px;
	font-size: 1.4em;
	font-style: normal;
	font-weight: lighter;
	height:24px;
	padding:4px;
	text-align:left;
}

.sharpdoc .content .section .members th.icon-col,td.icon-col
{
	width:55px;
}

.sharpdoc .content .section .members th.platicon-col, td.platicon-col
{
	width:85px;
}

.sharpdoc .content .section .members th.name-col
{
	width:20%;
}

.sharpdoc .content .section .members td.unman-col
{
	width:20%;
    font-family: monospace;
    font-size: 0.9em;
}

.sharpdoc .content .section a.title
{
	float:left;
	outline:invert none medium;
	text-decoration:none;
}

.sharpdoc .content .section div.block
{
	clear:both;
	display:block;
	padding-left:15px;
}

.sharpdoc .content .section div.title
{
	margin-bottom:19px;
	margin-top:9px;
}

.sharpdoc div.origin {
	margin-bottom:8px;
	margin-top:8px;
}

.sharpdoc .content .section div.toggle_icon
{
	background-repeat:no-repeat;
	float:left;
	height:12px;
	margin-top:9px;
	width:9px;
}

.sharpdoc .content .section div.toggle_icon.in
{
	background-image:url("../images/slider-in.png");
}

.sharpdoc .content .section div.toggle_icon.out
{
	background-image:url("../images/slider-out.png");
}

.sharpdoc .content .section span.title
{
	color:#AB2727;
	font-size:0.9em;
	/* font-weight:bold; */
	padding-left:6px;
	padding-top:15px;
	word-break:break-all;
	word-wrap:break-word;
}

.sharpdoc .content .section table.members
{
	border-collapse:collapse;
	border-color:#bbb;
	border-style:solid;
	border-width:1px;
	width:100%;
}

.sharpdoc .pane_content
{
	padding:0 13px 13px 0;
	vertical-align:top;
	width:100%;
}

.sharpdoc .pane_resizer
{
	border-left:1px solid #EEE;
	cursor:col-resize;
	vertical-align:top;
	width:8px;
}

.sharpdoc .table_content
{
	border-collapse:collapse;
	height:100%;
}

.sharpdoc .toc .icon
{
	background-repeat:no-repeat;
	display:inline;
}

.sharpdoc .toc.child .icon
{
	background-image:url("../images/toc-child.gif");
	background-repeat:no-repeat;
	height:9px;
	padding-right:15px;
	width:13px;
}

.sharpdoc .toc.level0
{
	padding-left:2px;
}

.sharpdoc .toc.level1
{
	padding-left:12px;
}

.sharpdoc .toc.level2
{
	padding-left:22px;
}

.sharpdoc .toc.level3
{
	padding-left:32px;
}

.sharpdoc .toc.level4
{
	padding-left:42px;
}

.sharpdoc .toc.top .icon
{
	background-image:url("../images/toc-top.gif");
	height:3px;
	padding-right:10px;
	top:6px;
	width:3px;
}

.sharpdoc .toc.up .icon
{
	background-image:url("../images/toc-up.gif");
	background-repeat:no-repeat;
	height:9px;
	padding-right:10px;
	top:4px;
	width:5px;
}

.sharpdoc div.top-title, .sharpdoc div.content-title {
    float: left;
	margin-left: 8px;
}

.sharpdoc div.content-title {
	margin-top: 0px;
}

.sharpdoc div.content-header {
    float: right;
	margin-top: 20px;
}

.sharpdoc h1.top-title, .sharpdoc h1.content-title {
	color:#AB2727;
	font-size:2.0em; 
}

.sharpdoc h1.content-title:hover
{
	cursor:pointer;
}



.sharpdoc a.highlight
{
	color:#E66A38;
	font-weight:bold;
}

.sharpdoc div.hr
{
	padding-top:15px;
}

.sharpdoc hr
{
	border-bottom:#E5E5E5 1px solid;
	border-right:none;
	border-top:none;
	color:#e5e5e5;
	margin-left:4px;
}

.sharpdoc-footer
{
	/*background-image:url("../images/copyright-bg.png");*/
	border-top:1px solid #E8E8E8;
	height:32px;
}

.sharpdoc-header
{
	border-bottom:1px solid #E8E8E8;
	height:5px;
	vertical-align:middle;
}

.sharpdoc-header .cell,.sharpdoc-footer .cell
{
	padding-left:1em;
	padding-right:1em;
}

#sdoc-parameters dd {
    margin-left: 40px;
}

.tabcontent
{
	border:1px solid #CCC;
	display:none;
	padding:1em;
}

.tabcontent.selected
{
	display:block;
}

.tabs
{
	border-bottom:1px solid #DDD;
	height:20px;
	list-style:none;
	margin:0;
	padding:0;
}

.tabs LI
{
	cursor:pointer;
	float:left;
	font:bold 1em Helvetica, Arial, sans-serif;
	margin:0 1px 0 0;
	text-align:center;
}

.tabs LI.selected
{
	color:#E66A38;
	font-weight:bold;
	height:19px;
}

.tabs LI.selected.code
{
	background:#FFF;
}

.tabs LI.tab
{
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	background:#EFF5FF;
	border:1px solid #CCC;
	border-bottom:none;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	color:#1364C4;
	height:18px;
	padding:2px 0 0;
	width:32px;
}

.tabs:AFTER
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.sharpdoc a:link
{
	/* color:#1364C4; */
	text-decoration:none;
}

.sharpdoc pre {
    white-space: pre-wrap; 
}

.sharpdoc ul {
    list-style-type: none;
}

h4.sdoc-subheading {
    margin-top: 7px;
    margin-bottom: 7px;
}

/*
html,body
{
	font-family:'Segoe UI',Verdana,Arial;
	font-size:0.91em;
	height:100%;
	margin:0;
}
*/