<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ContentServiceBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferPoolSize="524288" maxBufferSize="524288" maxReceivedMessageSize="524288"
                  textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                  messageEncoding="Text">
                  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BingPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.msdn.microsoft.com/ContentServices/ContentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ContentServiceBinding"
                contract="MTPS.ContentServicePortType" name="ContentService" />
            <endpoint address="http://api.bing.net:80/soap.asmx" binding="basicHttpBinding"
                bindingConfiguration="BingPortBinding" contract="Bing.BingPortType"
                name="BingPort" />
        </client>
    </system.serviceModel>
</configuration>