@*
// Copyright (c) 2010-2012 SharpDX - Alexandre Mutel
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.       
// -------------------------------------------------------------------------------
// Override this template to modify the generated html inserted before members 
// inside a Type body
// -------------------------------------------------------------------------------
*@
@using SharpDoc.Model
@using System.Text;
@model SharpDoc.TemplateContext
@helper Dump(NModelBase member)
{
	@if (!string.IsNullOrEmpty(@member.UnManagedApi))
     {
         <strong>Unmanaged: </strong><a href="http://msdn.microsoft.com/en-us/library/@(member.MsdnId).aspx" target="_blank">@member.UnManagedApi</a><br />
         <span style="font-style:italic">Documentation for unmanaged references are generated from <a href="http://msdn.microsoft.com/en-us/library/windows/desktop/ee663274%28v=vs.85%29.aspx" target="_blank">MSDN documentation</a>. Please refer to the original documentation for further details.</span><br />
     }
}




