<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ContentServiceBinding" maxReceivedMessageSize="524288" />
        <binding name="BingPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.bing.net:80/soap.asmx" binding="basicHttpBinding"
        bindingConfiguration="BingPortBinding" contract="Bing.BingPortType"
        name="BingPort" />
      <endpoint address="http://services.msdn.microsoft.com/ContentServices/ContentService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ContentServiceBinding"
        contract="MTPS.ContentServicePortType" name="ContentService" />
    </client>
  </system.serviceModel>
</configuration>
