<?xml version="1.0"?>
<!--
// Copyright (c) 2010-2014 SharpDX - Alexandre Mutel
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
// *****************************************************************************
// Config file for SharpDX documentation
// *****************************************************************************
-->
<config xmlns="SharpDoc">
  <!-- Title of the generated documentation -->
  <title>SharpDX Documentation</title>

  <!-- Defines the styles used. Apply first SharpDXWeb and after Standard style -->
  <style>SharpDXWeb</style>
  <style>Standard</style>

  <!-- Generate default and docpak -->
  <output-dir>..\Build\Documentation\</output-dir>

  <!-- If a new topic is referenced but the file is not yet created, use sharpdoc-template.html file as a template -->
  <topic-template>sharpdx-template.html</topic-template>

  <!-- Configure docpak - DISABLE by default
  <output-type>docpak</output-type>
  <docpak name="SharpDXDoc">
    // Add an index to unmanaged tags
    <tagindex id="unmanaged" xpath="//html/head/title" name="Unmanaged"/>
  </docpak>
  -->

  <!-- Topics -->
  <topic id="SharpDX" filename="00-index.html" page-id="index" name="SharpDX Documentation" >

    <!-- Copy the whole content of images to the output html/images directory -->
    <resource>images</resource>
    
    <!-- Use to specify Joomla SubMenu -->
    <param name="ItemId">109</param>

    <topic id="X:WhatsNew" filename="01-news.html" page-id="news" name="What's new?">
      <!-- This topic is not available for the SharpDX web documentation, as it is a duplicate of the web site -->
      <exclude>SharpDXWeb</exclude>
    </topic>

    <!-- Documentation for Programming Guide --><!--
    <topic id="X:ProgrammingGuide" filename="02-guide.html" page-id="guide" name="Programming Guide" on-url="true" >

      --><!-- Use to specify Joomla SubMenu --><!--
      <param name="ItemId">150</param>
      
      <topic id="X:ProgrammingGuide.Overview" filename="03-guide-overview.html" page-id="overview" name="Overview">
        <topic id="X:ProgrammingGuide.ManagedUnmanaged" filename="03-guide-overview-managed-unmanaged.html" page-id="managed-unmanaged" name="Managed and Unmanaged API"/>
        <topic id="X:ProgrammingGuide.ComLifecycles" filename="03-guide-overview-com-lifecycles.html" page-id="com-lifecycles" name="Managing COM object lifecycles"/>
        <topic id="X:ProgrammingGuide.ApiPhilosophy" filename="03-guide-overview-api-philosophy.html" page-id="api-philosophy" name="Philosophy of SharpDX API"/>
      </topic>

      <topic id="X:ProgrammingGuide.GettingStarted" filename="04-guide-advanced.html" page-id="getting-started" name="Getting Started"/>

      <topic id="X:ProgrammingGuide.Deployment" filename="05-guide-deployment.html" page-id="deployment" name="Deployment"/>

      <topic id="X:ProgrammingGuide.Advanced" filename="06-guide-advanced.html" page-id="advanced" name="Advanced">
        <topic id="X:ProgrammingGuide.Advanced.RenderingLoop" filename="06-guide-advanced-rendering-loop.html" page-id="advanced-rendering-loop" name="Rendering Loop"/>
        <topic id="X:ProgrammingGuide.Advanced.Callbackable" filename="06-guide-advanced-callbackable.html" page-id="advanced-callbackable" name="Callback C++ and ICallbackable Interface"/>
        <topic id="X:ProgrammingGuide.Advanced.PerformanceTips" filename="06-guide-advanced-performance-tips.html" page-id="advanced-performance-tips" name="Performance Tips"/>
        <topic id="X:ProgrammingGuide.Advanced.DebuggingTips" filename="06-guide-advanced-debugging-tips.html" page-id="advanced-debugging-tips" name="Debugging Tips"/>
        <topic id="X:ProgrammingGuide.Advanced.ObfuscationILMerge" filename="06-guide-advanced-obfuscation-ilmerge.html" page-id="advanced-obfuscation-ilmerge" name="Obfuscation and ILMerge"/>
      </topic>
    </topic>

    --><!-- Documentation for Tutorials --><!--
    <topic id="X:Tutorials" filename="10-tutorials.html" page-id="tutorials" name="Tutorials" on-url="true">

      --><!-- Use to specify Joomla SubMenu --><!--
      <param name="ItemId">151</param>

      <topic id="X:Tutorials.Tutorial1" filename="11-tutorial1.html" page-id="tutorial1" name="Tutorial 1 : Window setup"/>
      <topic id="X:Tutorials.Tutorial2" filename="11-tutorial2.html" page-id="tutorial2" name="Tutorial 2 : Direct3D11 setup"/>
      <topic id="X:Tutorials.Tutorial3" filename="11-tutorial3.html" page-id="tutorial3" name="Tutorial 3 : Direct3D11 MiniCube Sample"/>
    </topic>-->

    <!-- Special topic X:ClassLibrary to include generated class library references. No filename to setup as it is generated -->
    <topic id="X:ClassLibraryReference" page-id="api" name="Class Library Reference" index="100" on-url="true">
      <!-- Use to specify Joomla SubMenu -->
      <param name="ItemId">152</param>
    </topic>

    <!-- Documentation for Tools -->
    <topic id="X:Tools" filename="20-tools.html" page-id="tools" name="Tools" on-url="true">
      <!-- Use to specify Joomla SubMenu -->
      <param name="ItemId">153</param>

      <topic id="X:Tools.SharpGen" filename="20-tools-sharpgen.html" page-id="sharpgen" name="SharpGen"/>
      <topic id="X:Tools.SharpDoc" filename="20-tools-sharpdoc.html" page-id="sharpdoc" name="SharpDoc"/>
      <topic id="X:Tools.SharpCli" filename="20-tools-sharpcli.html" page-id="sharpcli" name="SharpCli"/>
      <topic id="X:Tools.SharpPak" filename="20-tools-sharppak.html" page-id="sharppak" name="SharpPak"/>
    </topic>

    <!-- Documentation for Internals code in SharpDX -->
    <topic id="X:Internals" filename="30-internals.html" page-id="internals" name="Internals" on-url="true">
      <!-- Use to specify Joomla SubMenu -->
      <param name="ItemId">154</param>
      
      <topic id="X:Internals.CppToSharpCodeGenerator" filename="30-internals-cpp-to-csharp.html" page-id="cpp-to-csharp" name="Principles of the C++ to C# Code Generator"/>
    </topic>

    <topic id="X:KnownIssues" filename="40-issues.html" page-id="known-issues" name="Known Issues"/>

    <topic id="X:Licensing" filename="50-licensing.html" page-id="licensing" name="Licensing">
      <!-- This topic is not available for the SharpDX web documentation, as it is a duplicate of the web site -->
      <exclude>SharpDXWeb</exclude>
    </topic>

  </topic>

  <!-- List the assemblies to include for the class library-->
  
  <!-- Standard Binaries -->
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.xml">..\Bin\Standard-net20\SharpDX.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.DXGI.xml">..\Bin\Standard-net20\SharpDX.DXGI.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.D3DCompiler.xml">..\Bin\Standard-net20\SharpDX.D3DCompiler.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.DirectInput.xml">..\Bin\Standard-net20\SharpDX.DirectInput.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.DirectSound.xml">..\Bin\Standard-net20\SharpDX.DirectSound.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.RawInput.xml">..\Bin\Standard-net20\SharpDX.RawInput.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.XACT3.xml">..\Bin\Standard-net20\SharpDX.XACT3.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.XAudio2.xml">..\Bin\Standard-net20\SharpDX.XAudio2.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.XInput.xml">..\Bin\Standard-net20\SharpDX.XInput.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.Direct3D9.xml">..\Bin\Standard-net20\SharpDX.Direct3D9.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.Direct3D10.xml">..\Bin\Standard-net20\SharpDX.Direct3D10.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.Direct3D11.xml">..\Bin\Standard-net20\SharpDX.Direct3D11.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.Direct2D1.xml">..\Bin\Standard-net20\SharpDX.Direct2D1.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.MediaFoundation.xml">..\Bin\Standard-net20\SharpDX.MediaFoundation.dll</source>

  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.Toolkit.xml">..\Bin\Standard-net20\SharpDX.Toolkit.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.Toolkit.Graphics.xml">..\Bin\Standard-net20\SharpDX.Toolkit.Graphics.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.Toolkit.Game.xml">..\Bin\Standard-net20\SharpDX.Toolkit.Game.dll</source>
  <source api="default|All Windows Desktop - .NET 2.0+ - .NET 4.0+" xml="..\Bin\Standard-net20\SharpDX.Toolkit.Input.xml">..\Bin\Standard-net20\SharpDX.Toolkit.Input.dll</source>

  <!-- Win8Metro Binaries -->
  <source api="win8metro|Windows 8 Metro - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-winrt\SharpDX.xml">..\Bin\Standard-winrt\SharpDX.dll</source>
  <source api="win8metro|Windows 8 Metro - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-winrt\SharpDX.DXGI.xml">..\Bin\Standard-winrt\SharpDX.DXGI.dll</source>
  <source api="win8metro|Windows 8 Metro - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-winrt\SharpDX.D3DCompiler.xml">..\Bin\Standard-winrt\SharpDX.D3DCompiler.dll</source>
  <source api="win8metro|Windows 8 Metro - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-winrt\SharpDX.XAudio2.xml">..\Bin\Standard-winrt\SharpDX.XAudio2.dll</source>
  <source api="win8metro|Windows 8 Metro - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-winrt\SharpDX.XInput.xml">..\Bin\Standard-winrt\SharpDX.XInput.dll</source>
  <source api="win8metro|Windows 8 Metro - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-winrt\SharpDX.Direct3D11.xml">..\Bin\Standard-winrt\SharpDX.Direct3D11.dll</source>
  <source api="win8metro|Windows 8 Metro - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-winrt\SharpDX.Direct2D1.xml">..\Bin\Standard-winrt\SharpDX.Direct2D1.dll</source>
  <source api="win8metro|Windows 8 Metro - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-winrt\SharpDX.MediaFoundation.xml">..\Bin\Standard-winrt\SharpDX.MediaFoundation.dll</source>

  <source api="win8metro|Windows 8 Metro - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-winrt\SharpDX.Toolkit.xml">..\Bin\Standard-winrt\SharpDX.Toolkit.dll</source>
  <source api="win8metro|Windows 8 Metro - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-winrt\SharpDX.Toolkit.Graphics.xml">..\Bin\Standard-winrt\SharpDX.Toolkit.Graphics.dll</source>
  <source api="win8metro|Windows 8 Metro - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-winrt\SharpDX.Toolkit.Game.xml">..\Bin\Standard-winrt\SharpDX.Toolkit.Game.dll</source>
  <source api="win8metro|Windows 8 Metro - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-winrt\SharpDX.Toolkit.Input.xml">..\Bin\Standard-winrt\SharpDX.Toolkit.Input.dll</source>

  <!-- WP8 Binaries -->
  <source api="wp8|Windows Phone 8 - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-wp8-x86\SharpDX.xml">..\Bin\Standard-wp8-x86\SharpDX.dll</source>
  <source api="wp8|Windows Phone 8 - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-wp8-x86\SharpDX.DXGI.xml">..\Bin\Standard-wp8-x86\SharpDX.DXGI.dll</source>
  <source api="wp8|Windows Phone 8 - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-wp8-x86\SharpDX.XAudio2.xml">..\Bin\Standard-wp8-x86\SharpDX.XAudio2.dll</source>
  <source api="wp8|Windows Phone 8 - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-wp8-x86\SharpDX.Direct3D11.xml">..\Bin\Standard-wp8-x86\SharpDX.Direct3D11.dll</source>
  <source api="wp8|Windows Phone 8 - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-wp8-x86\SharpDX.MediaFoundation.xml">..\Bin\Standard-wp8-x86\SharpDX.MediaFoundation.dll</source>

  <source api="wp8|Windows Phone 8 - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-wp8-x86\SharpDX.Toolkit.xml">..\Bin\Standard-wp8-x86\SharpDX.Toolkit.dll</source>
  <source api="wp8|Windows Phone 8 - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-wp8-x86\SharpDX.Toolkit.Graphics.xml">..\Bin\Standard-wp8-x86\SharpDX.Toolkit.Graphics.dll</source>
  <source api="wp8|Windows Phone 8 - DirectX11.1 - .NET 4.5 Core" xml="..\Bin\Standard-wp8-x86\SharpDX.Toolkit.Game.xml">..\Bin\Standard-wp8-x86\SharpDX.Toolkit.Game.dll</source>
  
  <!-- Win8Desktop DirectX11.1 Binaries -->
  <source api="win8desktop|Windows 8 Desktop - DirectX11.1 - .NET 4.0+" xml="..\Bin\Win8Desktop-net40\SharpDX.xml">..\Bin\Win8Desktop-net40\SharpDX.dll</source>
  <source api="win8desktop|Windows 8 Desktop - DirectX11.1 - .NET 4.0+" xml="..\Bin\Win8Desktop-net40\SharpDX.DXGI.xml">..\Bin\Win8Desktop-net40\SharpDX.DXGI.dll</source>
  <source api="win8desktop|Windows 8 Desktop - DirectX11.1 - .NET 4.0+" xml="..\Bin\Win8Desktop-net40\SharpDX.D3DCompiler.xml">..\Bin\Win8Desktop-net40\SharpDX.D3DCompiler.dll</source>
  <source api="win8desktop|Windows 8 Desktop - DirectX11.1 - .NET 4.0+" xml="..\Bin\Win8Desktop-net40\SharpDX.XAudio2.xml">..\Bin\Win8Desktop-net40\SharpDX.XAudio2.dll</source>
  <source api="win8desktop|Windows 8 Desktop - DirectX11.1 - .NET 4.0+" xml="..\Bin\Win8Desktop-net40\SharpDX.XInput.xml">..\Bin\Win8Desktop-net40\SharpDX.XInput.dll</source>
  <source api="win8desktop|Windows 8 Desktop - DirectX11.1 - .NET 4.0+" xml="..\Bin\Win8Desktop-net40\SharpDX.Direct3D11.xml">..\Bin\Win8Desktop-net40\SharpDX.Direct3D11.dll</source>
  <source api="win8desktop|Windows 8 Desktop - DirectX11.1 - .NET 4.0+" xml="..\Bin\Win8Desktop-net40\SharpDX.Direct2D1.xml">..\Bin\Win8Desktop-net40\SharpDX.Direct2D1.dll</source>
  <source api="win8desktop|Windows 8 Desktop - DirectX11.1 - .NET 4.0+" xml="..\Bin\Win8Desktop-net40\SharpDX.MediaFoundation.xml">..\Bin\Win8Desktop-net40\SharpDX.MediaFoundation.dll</source>

  <source api="win8desktop|Windows 8 Desktop - DirectX11.1 - .NET 4.0+" xml="..\Bin\Win8Desktop-net40\SharpDX.Toolkit.xml">..\Bin\Win8Desktop-net40\SharpDX.Toolkit.dll</source>
  <source api="win8desktop|Windows 8 Desktop - DirectX11.1 - .NET 4.0+" xml="..\Bin\Win8Desktop-net40\SharpDX.Toolkit.Graphics.xml">..\Bin\Win8Desktop-net40\SharpDX.Toolkit.Graphics.dll</source>
  <source api="win8desktop|Windows 8 Desktop - DirectX11.1 - .NET 4.0+" xml="..\Bin\Win8Desktop-net40\SharpDX.Toolkit.Game.xml">..\Bin\Win8Desktop-net40\SharpDX.Toolkit.Game.dll</source>
  <source api="win8desktop|Windows 8 Desktop - DirectX11.1 - .NET 4.0+" xml="..\Bin\Win8Desktop-net40\SharpDX.Toolkit.Input.xml">..\Bin\Win8Desktop-net40\SharpDX.Toolkit.Input.dll</source>
</config>